<!DOCTYPE html>
<html lang="en">
  <%- include ('./head') %>

  <body class=" <%= active_path === routes.application_chat && 'main-chat-blk' %>">
    <% if(active_path === routes.deals_dashboard || active_path === routes.projects_dashboard || active_path === routes.leads_dashboard) { %>
      <div class="preloader">
        <span class="loader"></span>
      </div>
      <% } %>
    <!-- Main Wrapper -->
    <div class="main-wrapper">

      <!-- Header -->
      <%- include ('./header') %>
      <!-- /Header -->

      <!-- Sidebar -->
      <%- include ('./sidebar') %>
      <!-- /Sidebar -->

      <!-- Page Wrapper -->
      <div class="page-wrapper
       <%= active_path === routes.application_chat && 'chat-page-wrapper' %> 
       <%= (active_path === routes.file_manager 
       || active_path === routes.file_manager_deleted || active_path === routes.file_shared || active_path === routes.file_document
       || active_path === routes.file_archived || active_path === routes.file_favourites || active_path === routes.file_recent) && 'file-manager' %> 
       <%= (active_path === routes.notes || active_path === routes.todo || active_path === routes.file_manager 
    || active_path === routes.file_manager_deleted || active_path === routes.file_shared || active_path === routes.file_document
    || active_path === routes.file_archived || active_path === routes.file_favourites || active_path === routes.file_recent) && 'notes-page-wrapper' %>"
       ">
        <%- include('../Pages/'+page_path) %>
      </div>
      <!-- /Page Wrapper -->
    </div>
    <!-- /Main Wrapper -->

    <%- include ('./theme-setting') %> 
    <%- include ('./script') %>
  </body>
</html>
