<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="clinicdropdown">
          <a href="profile">
            <img src="<%= config.baseUrl ; %>assets/img/profiles/avatar-14.jpg" class="img-fluid" alt="Profile">
            <div class="user-names">
              <h5>Adrian Davies</h5>
              <h6>Tech Lead</h6>
            </div>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <h6 class="submenu-hdr">Main Menu</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);"
                class="<%= (active_path == routes.deals_dashboard || 
              active_path == routes.projects_dashboard || active_path == routes.leads_dashboard ) ? 'active subdrop' : '' %>">
                <i class="ti ti-layout-2"></i><span>Dashboard</span><span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="index" class="<%= active_path == routes.deals_dashboard ? 'active' : '' %>">Deals
                    Dashboard</a></li>
                <li><a href="leads-dashboard" class="<%= active_path == routes.leads_dashboard ? 'active' : '' %>">Leads
                    Dashboard</a></li>
                <li><a href="project-dashboard"
                    class="<%= active_path == routes.projects_dashboard ? 'active' : '' %>">Project
                    Dashboard</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);" class="<%= (active_path === routes.application_chat || active_path === routes.application_calendar || active_path === routes.application_email 
              || active_path === routes.video_call || active_path === routes.audio_call 
              || active_path === routes.call_history || active_path === routes.todo 
              || active_path === routes.notes || active_path === routes.file_manager ) &&  'active subdrop' %> "><i
                  class="ti ti-brand-airtable"></i><span>Application</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a class="<%= active_path === routes.application_chat ? 'active' : '' %>" href="chat">Chat</a></li>
                <li class="submenu submenu-two">
                  <a href="javascript:void(0);"
                    class="<%= (active_path === routes.video_call || active_path === routes.audio_call || active_path === routes.call_history ) &&  'active subdrop' %> ">Call<span
                      class="menu-arrow inside-submenu"></span></a>
                  <ul>
                    <li><a class="<%= active_path === routes.video_call ? 'active' : '' %>" href="video-call">Video
                        Call</a></li>
                    <li><a class="<%= active_path === routes.audio_call ? 'active' : '' %>" href="audio-call">Audio
                        Call</a></li>
                    <li><a class="<%= active_path === routes.call_history ? 'active' : '' %>" href="call-history">Call
                        History</a></li>
                  </ul>
                </li>
                <li><a class="<%= active_path === routes.application_calendar ? 'active' : '' %>"
                    href="calendar">Calendar</a></li>
                <li><a class="<%= active_path === routes.application_email ? 'active' : '' %>" href="email">Email</a>
                </li>
                <li><a class="<%= active_path === routes.todo ? 'active' : '' %>" href="todo">To Do</a></li>
                <li><a class="<%= active_path === routes.notes ? 'active' : '' %>" href="notes">Notes</a></li>
                <li><a class="<%= active_path === routes.file_manager ? 'active' : '' %>" href="file-manager">File
                    Manager</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <h6 class="submenu-hdr">CRM</h6>
          <ul>
            <li>
              <a class="<%= (active_path==routes.contacts || active_path==routes.contact_grid  || active_path==routes.contact_details) ? 'active' : '' %>"
                href="contacts"><i class="ti ti-user-up"></i><span>Contacts</span></a>
            </li>
            <li>
              <a class="<%= (active_path==routes.companies || active_path==routes.companies_grid  || active_path==routes.companies_details) ? 'active' : '' %>"
                href="companies"><i class="ti ti-building-community"></i><span>Companies</span></a>
            </li>
            <li>
              <a class="<%= (active_path==routes.deals || active_path==routes.deals_kanban_view || 
              active_path==routes.deals_details) ? 'active' : '' %>" href="deals"><i
                  class="ti ti-medal"></i><span>Deals</span></a>
            </li>
            <li>
              <a class="<%= (active_path==routes.leads || active_path==routes.leads_kanban_view || active_path==routes.leads_details) ? 'active' : '' %>"
                href="leads"><i class="ti ti-chart-arcs"></i><span>Leads</span></a>
            </li>
            <li>
              <a class="<%= (active_path==routes.pipeline) ? 'active' : '' %>" href="pipeline"><i
                  class="ti ti-timeline-event-exclamation"></i><span>Pipeline</span></a>
            </li>
            <li>
              <a class="<%= (active_path==routes.campaign_complete || active_path==routes.campaign_archieve 
              || active_path==routes.campaign) ? 'active' : '' %>" href="campaign"><i
                  class="ti ti-brand-campaignmonitor"></i><span>Campaign</span></a>
            </li>
            <li>
              <a class="<%= (active_path==routes.projects_grid || active_path==routes.projects 
              || active_path==routes.projects_details) ? 'active' : '' %>" href="projects"><i
                  class="ti ti-atom-2"></i><span>Projects</span></a>
            </li>
            <li>
              <a class="<%= (active_path==routes.tasks || active_path==routes.tasks_important 
              || active_path==routes.tasks_completed) ? 'active' : '' %>" href="tasks"><i
                  class="ti ti-list-check"></i><span>Tasks</span></a>
            </li>
            <li>
              <a class="<%= (active_path==routes.proposals || active_path==routes.proposals_grid) ? 'active' : '' %>"
                href="proposals"><i class="ti ti-file-star"></i><span>Proposals</span></a>
            </li>
            <li>
              <a class="<%= (active_path==routes.contracts || active_path==routes.contracts_grid) ? 'active' : '' %>"
                href="contracts"><i class="ti ti-file-check"></i><span>Contracts</span></a>
            </li>
            <li>
              <a class="<%= (active_path==routes.estimations || active_path==routes.estimations_kanban) ? 'active' : '' %>"
                href="estimations"><i class="ti ti-file-report"></i><span>Estimations</span></a>
            </li>
            <li>
              <a class="<%= (active_path==routes.invoices || active_path==routes.invoice_grid) ? 'active' : '' %>"
                href="invoices"><i class="ti ti-file-invoice"></i><span>Invoices</span></a>
            </li>
            <li>
              <a class="<%= (active_path==routes.payments ) ? 'active' : '' %>" href="payments"><i
                  class="ti ti-report-money"></i><span>Payments</span></a>
            </li>
            <li>
              <a class="<%= (active_path==routes.analytics ) ? 'active' : '' %>" href="analytics"><i
                  class="ti ti-chart-bar"></i><span>Analytics</span></a>
            </li>
            <li>
              <a class="<%= (active_path==routes.activity_calls || active_path==routes.activity_mail 
              || active_path==routes.activity_meeting || active_path==routes.activity_task
              || active_path==routes.activities) ? 'active' : '' %>" href="activities"><i
                  class="ti ti-bounce-right"></i><span>Activities</span></a>
            </li>
          </ul>
        </li>
        <li>
          <h6 class="submenu-hdr">Reports</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);"
                class="<%= (active_path === routes.lead_reports || active_path === routes.deal_reports || active_path === routes.contact_reports
              || active_path === routes.task_reports|| active_path === routes.project_reports|| active_path === routes.company_reports ) &&  'active subdrop' %> ">
                <i class="ti ti-file-invoice"></i><span>Reports</span><span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a class="<%= active_path==routes.lead_reports ? 'active' : '' %>" href="lead-reports">Lead
                    Reports</a></li>
                <li><a class="<%= active_path==routes.deal_reports ? 'active' : '' %>" href="deal-reports">Deal
                    Reports</a></li>
                <li><a class="<%= active_path==routes.contact_reports ? 'active' : '' %>" href="contact-reports">Contact
                    Reports</a></li>
                <li><a class="<%= active_path==routes.company_reports ? 'active' : '' %>" href="company-reports">Company
                    Reports</a></li>
                <li><a class="<%= active_path==routes.project_reports ? 'active' : '' %>" href="project-reports">Project
                    Reports</a></li>
                <li><a class="<%= active_path==routes.task_reports ? 'active' : '' %>" href="task-reports">Task
                    Reports</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <h6 class="submenu-hdr">CRM Settings</h6>
          <ul>
            <li><a class="<%= active_path==routes.sources ? 'active' : '' %>" href="sources"><i
                  class="ti ti-artboard"></i><span>Sources</span></a></li>
            <li><a class="<%= active_path==routes.lost_reason ? 'active' : '' %>" href="lost-reason"><i
                  class="ti ti-message-exclamation"></i><span>Lost
                  Reason</span></a></li>
            <li><a class="<%= active_path==routes.contact_stage ? 'active' : '' %>" href="contact-stage"><i
                  class="ti ti-steam"></i><span>Contact
                  Stage</span></a></li>
            <li><a class="<%= active_path==routes.industry ? 'active' : '' %>" href="industry"><i
                  class="ti ti-building-factory"></i><span>Industry</span></a></li>
            <li><a class="<%= active_path==routes.calls ? 'active' : '' %>" href="calls"><i
                  class="ti ti-phone-check"></i><span>Calls</span></a></li>
          </ul>
        </li>
        <li>
          <h6 class="submenu-hdr">User Management</h6>
          <ul>
            <li><a class="<%= active_path==routes.manage_users ? 'active' : '' %>" href="manage-users"><i
                  class="ti ti-users"></i><span>Manage
                  Users</span></a></li>
            <li><a
                class="<%= (active_path==routes.roles_permissions || active_path==routes.permission) ? 'active' : '' %>"
                href="roles-permissions"><i class="ti ti-navigation-cog"></i><span>Roles &
                  Permissions</span></a></li>
            <li><a class="<%= active_path==routes.delete_request ? 'active' : '' %>" href="delete-request"><i
                  class="ti ti-flag-question"></i><span>Delete
                  Request</span></a></li>
          </ul>
        </li>
        <li>
          <h6 class="submenu-hdr">Membership</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);" class="<%= (active_path === routes.membership_transactions 
              || active_path === routes.membership_addons || active_path === routes.membership_plans ) 
              &&  'active subdrop' %> ">
                <i class="ti ti-file-invoice"></i><span>Membership</span><span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a class="<%= active_path==routes.membership_plans ? 'active' : '' %>"
                    href="membership-plans">Membership Plans</a></li>
                <li><a class="<%= active_path==routes.membership_addons ? 'active' : '' %>"
                    href="membership-addons">Membership Addons</a></li>
                <li><a class="<%= active_path==routes.membership_transactions ? 'active' : '' %>"
                    href="membership-transactions">Transactions</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <h6 class="submenu-hdr">Content</h6>
          <ul>
            <li><a class="<%= active_path==routes.pages ? 'active' : '' %>" href="pages"><i
                  class="ti ti-page-break"></i><span>Pages</span></a></li>
            <li class="submenu">
              <a href="javascript:void(0);" class="<%= (active_path === routes.cities 
              || active_path === routes.states || active_path === routes.countries ) 
              &&  'active subdrop' %> ">
                <i class="ti ti-map-pin-pin"></i><span>Location</span><span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a class="<%= active_path==routes.countries ? 'active' : '' %>" href="countries">Countries</a></li>
                <li><a class="<%= active_path==routes.states ? 'active' : '' %>" href="states">States</a></li>
                <li><a class="<%= active_path==routes.cities ? 'active' : '' %>" href="cities">Cities</a></li>
              </ul>
            </li>
            <li><a class="<%= active_path==routes.testimonials ? 'active' : '' %>" href="testimonials"><i
                  class="ti ti-quote"></i><span>Testimonials</span></a></li>
            <li><a class="<%= active_path==routes.faq ? 'active' : '' %>" href="faq"><i
                  class="ti ti-question-mark"></i><span>FAQ</span></a></li>
          </ul>
        </li>
        <li>
          <h6 class="submenu-hdr">Support</h6>
          <ul>
            <li><a class="<%= active_path==routes.contact_messages ? 'active' : '' %>" href="contact-messages"><i
                  class="ti ti-page-break"></i><span>Contact
                  Messages</span></a></li>
            <li><a class="<%= active_path==routes.tickets ? 'active' : '' %>" href="tickets"><i
                  class="ti ti-ticket"></i><span>Tickets</span></a></li>
          </ul>
        </li>
        <li>
          <h6 class="submenu-hdr">Settings</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);"
                class="<%= (active_path === routes.profile || active_path === routes.securitySettings || active_path === routes.notification || active_path === routes.connectedApps ) &&  'active subdrop' %> "><i
                  data-feather="settings"></i><span>General Settings</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a class="<%= active_path === routes.profile ? 'active' : '' %>" href="profile"
                    class="active">Profile</a></li>
                <li><a class="<%= active_path === routes.securitySettings ? 'active' : '' %>"
                    href="security">Security</a></li>
                <li><a class="<%= active_path === routes.notification ? 'active' : '' %>"
                    href="notification">Notifications</a></li>
                <li><a class="<%= active_path === routes.connectedApps ? 'active' : '' %>"
                    href="connected-apps">Connected Apps</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"
                class="<%= (active_path === routes.systemSettings || active_path === routes.companySettings 
              || active_path === routes.localizationSettings || active_path === routes.prefixes || active_path === routes.preference
              || active_path === routes.systemSettings || active_path === routes.socialAuthentication || active_path === routes.languageSettings  ) &&  'active subdrop' %> "><i
                  data-feather="globe"></i><span>Website Settings</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a class="<%= active_path === routes.companySettings ? 'active' : '' %>"
                    href="company-settings">Company Settings </a></li>
                <li><a class="<%= active_path === routes.localizationSettings ? 'active' : '' %>"
                    href="localization">Localization</a></li>
                <li><a class="<%= active_path === routes.prefixes ? 'active' : '' %>" href="prefixes">Prefixes</a></li>
                <li><a class="<%= active_path === routes.preference ? 'active' : '' %>" href="preference">Preference</a>
                </li>
                <li><a class="<%= active_path === routes.appearance ? 'active' : '' %>" href="appearance">Appearance</a>
                </li>
                <li><a class="<%= active_path === routes.languageSettings ? 'active' : '' %>"
                    href="language">Language</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"
                class="<%= (active_path === routes.invoiceSettings || active_path === routes.printerSettings || 
               active_path === routes.posSettings || active_path === routes.customFields    ) &&  'active subdrop' %> "><i
                  data-feather="smartphone"></i><span>App Settings</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a class="<%= active_path === routes.invoiceSettings ? 'active' : '' %>"
                    href="invoice-settings">Invoice</a></li>
                <li><a class="<%= active_path === routes.printerSettings ? 'active' : '' %>" href="printers">Printer</a>
                </li>
                <li><a class="<%= active_path === routes.customFields ? 'active' : '' %>" href="custom-fields">Custom
                    Fields</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);" class="<%= (active_path === routes.email_settings || active_path === routes.smsGateway || active_path === routes.otpSettings
                 || active_path === routes.gdprSettings  ) &&  'active subdrop' %> "><i
                  data-feather="monitor"></i><span>System Settings</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a class="<%= active_path === routes.email_settings ? 'active' : '' %>"
                    href="email-settings">Email</a></li>
                <li><a class="<%= active_path === routes.smsGateway ? 'active' : '' %>" href="sms-gateways">SMS
                    Gateways</a></li>
                <li><a class="<%= active_path === routes.gdprSettings ? 'active' : '' %>" href="gdpr-cookies">GDPR
                    Cookies</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"
                class="<%= (active_path === routes.paymentGatewaySettings || active_path === routes.bankSettingsGrid 
              || active_path === routes.setting_taxRates  || active_path === routes.currencySettings || active_path === routes.bankSettingsList  ) &&  'active subdrop' %> "><i
                  data-feather="dollar-sign"></i><span>Financial
                  Settings</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a class="<%= active_path === routes.paymentGatewaySettings ? 'active' : '' %>"
                    href="payment-gateways">Payment Gateway</a></li>
                <li><a
                    class="<%= (active_path === routes.bankSettingsGrid || active_path === routes.bankSettingsList) ? 'active' : '' %>"
                    href="bank-accounts">Bank Accounts</a></li>
                <li><a class="<%= active_path === routes.setting_taxRates ? 'active' : '' %>" href="tax-rates">Tax
                    Rates</a></li>
                <li><a class="<%= active_path === routes.currencySettings ? 'active' : '' %>"
                    href="currencies">Currencies</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"
                class="<%= (active_path === routes.banIpAddress  || active_path === routes.storageSettings   ) &&  'active subdrop' %> "><i
                  data-feather="hexagon"></i><span>Other Settings</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a class="<%= active_path === routes.storageSettings ? 'active' : '' %>" href="storage">Storage</a>
                </li>
                <li><a class="<%= active_path === routes.banIpAddress ? 'active' : '' %>" href="ban-ip-address">Ban IP
                    Address</a></li>
              </ul>
            </li>
            <li>
              <a href="register"><i data-feather="log-out"></i><span>Logout</span> </a>
            </li>

          </ul>
        </li>
        <li>
          <h6 class="submenu-hdr">Pages</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i class="ti ti-lock-square-rounded"></i><span>Authentication</span><span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="login">Login</a></li>
                <li><a href="register">Register</a></li>
                <li><a href="forgot-password">Forgot Password</a></li>
                <li><a href="reset-password">Reset Password</a></li>
                <li><a href="email-verification">Email Verification</a></li>
                <li><a href="two-step-verification">2 Step Verification</a></li>
                <li><a href="lock-screen">Lock Screen</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i class="ti ti-error-404"></i><span>Error Pages</span><span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="error-404">404 Error</a></li>
                <li><a href="error-500">500 Error</a></li>
              </ul>
            </li>
            <li><a href="blank-page"><i class="ti ti-apps"></i><span>Blank
                  Page</span></a></li>
            <li><a href="coming-soon"><i class="ti ti-device-laptop"></i><span>Coming
                  Soon</span></a></li>
            <li><a href="under-maintenance"><i class="ti ti-moneybag"></i><span>Under
                  Maintenance</span></a></li>
          </ul>
        </li>
        <li>
          <h6 class="submenu-hdr">UI Interface</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);" class="<%= (active_path === routes.ui_alerts  || active_path === routes.ui_accordion 
              || active_path === routes.ui_carousel || active_path === routes.ui_cards 
              || active_path === routes.ui_breadcrumb || active_path === routes.ui_buttons_group 
              || active_path === routes.ui_buttons || active_path === routes.ui_borders 
              || active_path === routes.ui_badges || active_path === routes.ui_avatar   
              || active_path === routes.ui_progress || active_path === routes.ui_popovers   
              || active_path === routes.ui_pagination || active_path === routes.ui_offcanvas   
              || active_path === routes.ui_modals || active_path === routes.ui_media   
              || active_path === routes.ui_lightbox || active_path === routes.ui_images   
              || active_path === routes.ui_grid || active_path === routes.ui_dropdowns   
              || active_path === routes.ui_colors || active_path === routes.ui_video   
              || active_path === routes.ui_typography || active_path === routes.ui_tooltips   
              || active_path === routes.ui_toasts || active_path === routes.ui_nav_tabs   
              || active_path === routes.ui_sweetalerts || active_path === routes.ui_spinner   
              || active_path === routes.ui_rangeslider || active_path === routes.ui_placeholders   
              ) &&  'active subdrop' %> ">
                <i data-feather="layers"></i><span>Base UI</span><span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="ui-alerts" class="<%= active_path === routes.ui_alerts && 'active' %>">Alerts</a></li>
                <li><a href="ui-accordion" class="<%= active_path === routes.ui_accordion && 'active' %>">Accordion</a>
                </li>
                <li><a href="ui-avatar" class="<%= active_path === routes.ui_avatar && 'active' %>">Avatar</a></li>
                <li><a href="ui-badges" class="<%= active_path === routes.ui_badges && 'active' %>">Badges</a></li>
                <li><a href="ui-borders" class="<%= active_path === routes.ui_borders && 'active' %>">Border</a></li>
                <li><a href="ui-buttons" class="<%= active_path === routes.ui_buttons && 'active' %>">Buttons</a></li>
                <li><a href="ui-buttons-group" class="<%= active_path === routes.ui_buttons_group && 'active' %>">Button
                    Group</a></li>
                <li><a href="ui-breadcrumb"
                    class="<%= active_path === routes.ui_breadcrumb && 'active' %>">Breadcrumb</a></li>
                <li><a href="ui-cards" class="<%= active_path === routes.ui_cards && 'active' %>">Card</a></li>
                <li><a href="ui-carousel" class="<%= active_path === routes.ui_carousel && 'active' %>">Carousel</a>
                </li>
                <li><a href="ui-colors" class="<%= active_path === routes.ui_colors && 'active' %>">Colors</a></li>
                <li><a href="ui-dropdowns" class="<%= active_path === routes.ui_dropdowns && 'active' %>">Dropdowns</a>
                </li>
                <li><a href="ui-grid" class="<%= active_path === routes.ui_grid && 'active' %>">Grid</a></li>
                <li><a href="ui-images" class="<%= active_path === routes.ui_images && 'active' %>">Images</a></li>
                <li><a href="ui-lightbox" class="<%= active_path === routes.ui_lightbox && 'active' %>">Lightbox</a>
                </li>
                <li><a href="ui-media" class="<%= active_path === routes.ui_media && 'active' %>">Media</a></li>
                <li><a href="ui-modals" class="<%= active_path === routes.ui_modals && 'active' %>">Modals</a></li>
                <li><a href="ui-offcanvas" class="<%= active_path === routes.ui_offcanvas && 'active' %>">Offcanvas</a>
                </li>
                <li><a href="ui-pagination"
                    class="<%= active_path === routes.ui_pagination && 'active' %>">Pagination</a></li>
                <li><a href="ui-popovers" class="<%= active_path === routes.ui_popovers && 'active' %>">Popovers</a>
                </li>
                <li><a href="ui-progress" class="<%= active_path === routes.ui_progress && 'active' %>">Progress</a>
                </li>
                <li><a href="ui-placeholders"
                    class="<%= active_path === routes.ui_placeholders && 'active' %>">Placeholders</a></li>
                <li><a href="ui-rangeslider" class="<%= active_path === routes.ui_rangeslider && 'active' %>">Range
                    Slider</a></li>
                <li><a href="ui-spinner" class="<%= active_path === routes.ui_spinner && 'active' %>">Spinner</a></li>
                <li><a href="ui-sweetalerts" class="<%= active_path === routes.ui_sweetalerts && 'active' %>">Sweet
                    Alerts</a></li>
                <li><a href="ui-nav-tabs" class="<%= active_path === routes.ui_nav_tabs && 'active' %>">Tabs</a></li>
                <li><a href="ui-toasts" class="<%= active_path === routes.ui_toasts && 'active' %>">Toasts</a></li>
                <li><a href="ui-tooltips" class="<%= active_path === routes.ui_tooltips && 'active' %>">Tooltips</a>
                </li>
                <li><a href="ui-typography"
                    class="<%= active_path === routes.ui_typography && 'active' %>">Typography</a></li>
                <li><a href="ui-video" class="<%= active_path === routes.ui_video && 'active' %>">Video</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);" class="<%= (active_path == routes.ribbon || active_path == routes.clipboard
              || active_path == routes.drag_drop  || active_path == routes.rating  || active_path == routes.text_editor
              || active_path == routes.counter || active_path == routes.scrollbar || active_path == routes.stickynote
              || active_path == routes.timeline) ? 'active subdrop' : '' %>">
                <i class="ti ti-box-align-bottom"></i><span>Advanced
                  UI</span><span class="menu-arrow"></span>
              </a>
              <ul>

                <li><a class="<%= active_path == routes.ribbon ? 'active' : '' %>" href="ribbon">Ribbon</a></li>
                <li><a class="<%= active_path == routes.clipboard ? 'active' : '' %>" href="clipboard">Clipboard</a>
                </li>
                <li><a class="<%= active_path == routes.drag_drop ? 'active' : '' %>" href="drag-drop">Drag & Drop</a>
                </li>
                <li><a class="<%= active_path == routes.rating ? 'active' : '' %>" href="rating">Rating</a></li>
                <li><a class="<%= active_path == routes.text_editor ? 'active' : '' %>" href="text-editor">Text
                    Editor</a></li>
                <li><a class="<%= active_path == routes.counter ? 'active' : '' %>" href="counter">Counter</a></li>
                <li><a class="<%= active_path == routes.scrollbar ? 'active' : '' %>" href="scrollbar">Scrollbar</a>
                </li>
                <li><a class="<%= active_path == routes.stickynote ? 'active' : '' %>" href="stickynote">Sticky Note</a>
                </li>
                <li><a class="<%= active_path == routes.timeline ? 'active' : '' %>" href="timeline">Timeline</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"
                class="<%= (active_path == routes.chart_apex || active_path == routes.chart_js  || active_path == routes.chart_c3
              || active_path == routes.chart_morris || active_path == routes.chart_flot || active_path == routes.chart_peity) ? 'active subdrop' : '' %>"><i
                  class="ti ti-chart-donut-2"></i>
                <span>Charts</span><span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a class="<%= active_path == routes.chart_apex ? 'active' : '' %>" href="chart-apex">Apex Charts</a>
                </li>
                <li><a class="<%= active_path == routes.chart_c3 ? 'active' : '' %>" href="chart-c3">Chart C3</a></li>
                <li><a class="<%= active_path == routes.chart_js ? 'active' : '' %>" href="chart-js">Chart Js</a></li>
                <li><a class="<%= active_path == routes.chart_morris ? 'active' : '' %>" href="chart-morris">Morris
                    Charts</a></li>
                <li><a class="<%= active_path == routes.chart_flot ? 'active' : '' %>" href="chart-flot">Flot Charts</a>
                </li>
                <li><a class="<%= active_path == routes.chart_peity ? 'active' : '' %>" href="chart-peity">Peity
                    Charts</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"
                class="<%= (active_path == routes.icon_fontawesome || active_path == routes.icon_ionic || active_path == routes.icon_material
              || active_path == routes.icon_fontawesome || active_path == routes.icon_fontawesome || active_path == routes.icon_fontawesome
              || active_path == routes.icon_pe7 || active_path == routes.icon_simpleline || active_path == routes.icon_themify
              || active_path == routes.icon_weather || active_path == routes.icon_typicon || active_path == routes.icon_flag) ? 'active subdrop' : '' %>"><i
                  class="ti ti-icons"></i>
                <span>Icons</span><span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a class="<%= active_path == routes.icon_fontawesome ? 'active' : '' %>"
                    href="icon-fontawesome">Fontawesome Icons</a></li>
                <li><a class="<%= active_path == routes.icon_feather ? 'active' : '' %>" href="icon-feather">Feather
                    Icons</a></li>
                <li><a class="<%= active_path == routes.icon_ionic ? 'active' : '' %>" href="icon-ionic">Ionic Icons</a>
                </li>
                <li><a class="<%= active_path == routes.icon_material ? 'active' : '' %>" href="icon-material">Material
                    Icons</a></li>
                <li><a class="<%= active_path == routes.icon_pe7 ? 'active' : '' %>" href="icon-pe7">Pe7 Icons</a></li>
                <li><a class="<%= active_path == routes.icon_simpleline ? 'active' : '' %>"
                    href="icon-simpleline">Simpleline Icons</a></li>
                <li><a class="<%= active_path == routes.icon_themify ? 'active' : '' %>" href="icon-themify">Themify
                    Icons</a></li>
                <li><a class="<%= active_path == routes.icon_weather ? 'active' : '' %>" href="icon-weather">Weather
                    Icons</a></li>
                <li><a class="<%= active_path == routes.icon_typicon ? 'active' : '' %>" href="icon-typicon">Typicon
                    Icons</a></li>
                <li><a class="<%= active_path == routes.icon_flag ? 'active' : '' %>" href="icon-flag">Flag Icons</a>
                </li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);" class="<%= (active_path === routes.form_basic_inputs || active_path === routes.form_input_groups || active_path === routes.form_horizontal || active_path === routes.form_vertical || active_path === routes.form_mask ||  active_path === routes.form_formValidation || active_path === routes.form_formSelected2 || active_path === routes.form_fileUpload 
										|| active_path === routes.form_grid_gutters || active_path === routes.form_select
										|| active_path === routes.form_checkbox_radios || active_path === routes.form_floating_labels 
										|| active_path === routes.form_wizard || active_path === routes.form_validation || active_path === routes.form_formSelected2 
										) && 'active subdrop' %>">
                <i class="ti ti-forms"></i><span>Forms</span><span class="menu-arrow"></span>
              </a>
              <ul>
                <li class="submenu submenu-two">
                  <a href="javascript:void(0);" class="<%= (active_path === routes.form_grid_gutters || active_path === routes.form_basic_inputs
												|| active_path === routes.form_checkbox_radios || active_path === routes.form_input_groups
												|| active_path === routes.form_fileUpload || active_path === routes.form_mask
												|| active_path === routes.form_select  
                         ) ? 'active subdrop' : '' %>">Form Elements<span class="menu-arrow inside-submenu"></span></a>
                  <ul>
                    <li><a class="<%= active_path == routes.form_basic_inputs ? 'active' : '' %>"
                        href="form-basic-inputs">Basic Inputs</a></li>
                    <li><a class="<%= active_path == routes.form_checkbox_radios ? 'active' : '' %>"
                        href="form-checkbox-radios">Checkbox & Radios</a></li>
                    <li><a class="<%= active_path == routes.form_input_groups ? 'active' : '' %>"
                        href="form-input-groups">Input Groups</a></li>
                    <li><a class="<%= active_path == routes.form_grid_gutters ? 'active' : '' %>"
                        href="form-grid-gutters">Grid & Gutters</a></li>
                    <li><a class="<%= active_path == routes.form_select ? 'active' : '' %>" href="form-select">Form
                        Select</a></li>
                    <li><a class="<%= active_path == routes.form_mask ? 'active' : '' %>" href="form-mask">Input
                        Masks</a></li>
                    <li><a class="<%= active_path == routes.form_fileUpload ? 'active' : '' %>"
                        href="form-fileupload">File Uploads</a></li>
                  </ul>
                </li>
                <li class="submenu submenu-two">
                  <a href="javascript:void(0);"
                    class="<%= ( active_path == routes.form_horizontal || active_path == routes.form_floating_labels || active_path == routes.form_vertical) ? 'active subdrop' : '' %>">Layouts<span
                      class="menu-arrow inside-submenu"></span></a>
                  <ul>
                    <li><a class="<%= active_path == routes.form_horizontal ? 'active' : '' %>"
                        href="form-horizontal">Horizontal Form</a></li>
                    <li><a class="<%= active_path == routes.form_vertical ? 'active' : '' %>"
                        href="form-vertical">Vertical Form</a></li>
                    <li><a class="<%= active_path == routes.form_floating_labels ? 'active' : '' %>"
                        href="form-floating-labels">Floating Labels</a></li>
                  </ul>
                </li>
                <li><a class="<%= active_path == routes.form_validation ? 'active' : '' %>" href="form-validation">Form
                    Validation</a></li>
                <li><a class="<%= active_path == routes.form_formSelected2 ? 'active' : '' %>"
                    href="form-select2">Select2</a></li>
                <li><a class="<%= active_path == routes.form_wizard ? 'active' : '' %>" href="form-wizard">Form
                    Wizard</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"
                class="<%= (active_path==routes.data_tables || active_path==routes.tables_basic) ? 'active subdrop' : '' %>"><i
                  class="ti ti-table"></i><span>Tables</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a class="<%= active_path==routes.tables_basic ? 'active' : '' %>" href="tables-basic">Basic Tables
                  </a></li>
                <li><a class="<%= active_path==routes.data_tables ? 'active' : '' %>" href="data-tables">Data Table </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <h6 class="submenu-hdr">Help</h6>
          <ul>
            <li><a href="javascript:void(0);"><i class="ti ti-file-type-doc"></i><span>Documentation</span></a></li>
            <li><a href="javascript:void(0);"><i class="ti ti-arrow-capsule"></i><span>Changelog
                  v2.2</span></a></li>
            <li class="submenu">
              <a href="javascript:void(0);"><i class="ti ti-brand-databricks"></i><span>Multi
                  Level</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a href="javascript:void(0);">Level 1.1</a></li>
                <li class="submenu submenu-two"><a href="javascript:void(0);">Level 1.2<span
                      class="menu-arrow inside-submenu"></span></a>
                  <ul>
                    <li><a href="javascript:void(0);">Level 2.1</a></li>
                    <li class="submenu submenu-two submenu-three"><a href="javascript:void(0);">Level 2.2<span
                          class="menu-arrow inside-submenu inside-submenu-two"></span></a>
                      <ul>
                        <li><a href="javascript:void(0);">Level 3.1</a></li>
                        <li><a href="javascript:void(0);">Level 3.2</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>